*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    /* light */
    --theme-background:#ffffff;
    --primary-color:#41a6ff;
    --secondary-color:#ffd662;
    --text-color:#000;
    --box-shadow:rgba(0, 0, 0, 0.102);
    --border-color:#00000033;
    --btn-hover:#ffffff;

    /* dark */
    --theme-background:#000;
    --primary-color:#41a6ff;
    --secondary-color:#ffd662;
    --text-color:#f5f5f5;
    --box-shadow: #ffffff33;
    --border-color:#ffffff4d;
    --btn-hover:#ffffff; 
}

body{
    background-color: var(--theme-background);
}

/* alert */
.alerts-container{
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
}

.alert{
    background-color: var(--theme-background);
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.alert .msg{
    color: var(--text-color);
    margin: 0px 18px 0px 7px;
}

.alert .close-btn{
    color: var(--text-color);
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.red-alert{
    border-left:5px solid rgb(255, 29, 29);
}

.red-alert .warning-icon{
    color: rgb(255, 29, 29);
}

.green-alert{
    border-left:5px solid rgb(0, 195, 0)
}

.green-alert .warning-icon{
    color: rgb(0, 195, 0);
}

.alert.show{
    animation: show-slide 0.6s ease forwards ;
}

@keyframes show-slide{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0%);
    }
}

.alert.hide{
    animation: hide-slide 0.6s ease forwards ;
}

@keyframes hide-slide{
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(-120%);
    }
}

/* Header */
#header{
    background-color: var(--theme-background);
    box-shadow: 0 .5rem 1rem var(--box-shadow);
    color: var(--text-color);
    display: flex; 
    justify-content: space-between;
    align-items: center;   
    padding: 10px 0px;
    z-index: 9999;
    position: sticky;
    top: 0;
}

.costumized-scroll-bar{
    background-color: var(--primary-color);
    border-radius: 15px;
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    transition: 0.1s;
}

#header .logo-container{
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.logo-container img{
    transform:scale(1.6);
}

#header .navbar-container{
    list-style-type: none;
    display: flex;
}

.navbar-container a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar-container .navbar-item{
    position: relative;
    cursor: pointer;
}

.navbar-item::after{
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    bottom: -5px;
    right: 0px;
    border-radius: 15px;
    height: 2px;
    width: 0;
    transition: 0.6s;
}

.navbar-item:hover::after{
    width: 60%;
}

.navbar-item::before{
    content: "";
    background-color: var(--text-color);
    position: absolute;
    bottom: -1px;
    right: 0px;
    border-radius: 15px;
    height: 2px;
    width: 0;
    transition: 0.3s;
}

.navbar-item:hover::before{
    width: 40%;
}

.basket-items-count{
    background-color: var(--primary-color);
    color: var(--btn-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -8px;
    font-size: 12px;
    height: 18px;
    width: 18px;
}

/* body */
.back-btn{
    position: absolute;
    margin-top: 15px;
}

.back-btn button{
    background-color: var(--primary-color);
    color: var(--btn-hover);
    border-radius: 50%;
    padding: 4px 8px;
    border: none;
    transition: 0.2s;
}

.back-btn button:hover{
    transform: scale(1.08);
}

.back-btn button:focus{
    transform: scale(0.95);
}

.card-item-container{
    padding-top: 65px;
}

.img-container img{
    border-radius: 10px;
}

.card-item-title{
    color: var(--primary-color);
}

.card-item-discription{
    color: var(--text-color);
    text-align: justify;
}

.card-item-price{
    color: var(--text-color);
    font-weight: 500;
}

.card-item-button{
    margin-bottom: 80px;
}

.card-item-basket-btn{
    border-color: var(--primary-color);
    color: var(--primary-color);
    transition: 0.1s;
    width: 130px;
    height: 40px;
}

.card-item-basket-btn:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--btn-hover);
}

.card-item-basket-btn:focus{
    transform: scale(0.9);
}

.button-loading{
    position: relative;
}

.button-loading .button-text{
    display: none;
    opacity: 0;
}

.button-loading::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 20px;
    height: 20px;
    transition: 0.2s;
    border-radius: 50%;
    border-top: 3px solid var(--primary-color);
    animation: button-loading-spinner 1s ease infinite;
}

.button-loading:hover:after{
    border-top: 3px solid var(--btn-hover);
}

.button-text .bi{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* footer */
#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.copy-right{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}

@keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
}